<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069838282623-gsbe7o5g62igo8l0ndgflrbqcb81nena.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069838282623-gsbe7o5g62igo8l0ndgflrbqcb81nena</string>
	<key>API_KEY</key>
	<string>AIzaSyCCPlvJBo_W2FIsrmbR-cdzdXwu5zWS2CU</string>
	<key>GCM_SENDER_ID</key>
	<string>1069838282623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.co.wethinkcode.widgetsApp</string>
	<key>PROJECT_ID</key>
	<string>the-lift-club-7743f</string>
	<key>STORAGE_BUCKET</key>
	<string>the-lift-club-7743f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069838282623:ios:9825f6eb4966e5b6b1b44a</string>
</dict>
</plist>